div.pregunta {
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
  color: red;
}

.datos {
  height: 95vh;
}

.quest {
  height: 95vh;
}

ul.list-group {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

h2.tittle {
  color: blue;
}

button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.user {
  font-size: large;
  font-weight: bold;
}

table {
  background-color: thistle;
  opacity: 0.7;
  color: black;
}

.tabl:hover {
  box-shadow: 0 0 30px gold;
}
